body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: orange;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todoInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addButton {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: darkorange;
}

#todoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
    font-size: 16px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.delete-button:hover {
    background-color: darkred;
}
