body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

.card-title {
    font-size: 24px;
    color: #333333;
    margin: 15px 0 10px;
}

.card-description {
    font-size: 16px;
    color: #777777;
    margin: 10px 0;
}

.order-button {
    background-color: #D0B200;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #bca200;
}
